:root {
  /* font-family */


  /* font-size */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-xxl: 22px;
  --text-xxxl: 24px;

  /* colors */


  /* line-height */
  --heading-line-height: 1.4;
  --body-line-height: 1.2;
}

