$font1: "Proxima Nova";
$font2: "Fira Sans";


@font-face {
  font-family: $font1;
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/ProximaNova-Light.woff2") format("woff2"),
    url("../fonts/ProximaNova-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: $font1;
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-display: swap;
}


@font-face {
  font-family: $font1;
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-display: swap;
}
