*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primanry);
  font-size: var(--text-base-size);
  font-weight: 400;
  line-height: var(--body-line-height);
  color: var(--text-color);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus,
input:focus,
button:focus {
  outline: 3px solid rgba(12, 159, 78, 0.25);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

